@import 'fonts.less';


.checkMark::after {
    font-family: 'LowesIcons';
    color: green;
    content: "\ED6F";
  }
  
  .crossMark::after {
    font-family: 'LowesIcons';
    color: red;
    content: "\ED6A";
  }
  