@import 'themes.less';

.questionsNo {
    font-size: 24px;
    font-weight: bold;
}

.input {
    width: 80%;
    height: 36px;
}

.selectBar {
    height: 60px;
    margin-top: 10px;
}

.greyBG {
    background-color: @grey !important;
}

.select {
    height: 36px;
    margin: 10px;
    background-color: white;
    padding-left: 16px;
}

.searchBar {
    div {
        text-align: center;
    }
}

.askQuestion {
    text-align: center;
    padding-top: 24px;
    div {
        min-width: 153px;
        max-height: 36px;
    }
}

.searchButton {
    padding: 4px 16px;
}

.cross {
    font-family: 'theLowesIcons';
    position: relative;
    line-height: 36px;
    cursor: pointer;
    left: -104px;
    display: none;
}

.showX {
    display: block;
}

@media (max-width: 991px) {
    .searchBar {
        padding: 16px;
    }

    .askQuestion {
        width: 200px;
        margin: 0 auto;
        padding-top : 0px;
    }

    .totalWrap {
        margin-top: 24px;
    }
}

@media (max-width: 767px) {
    .totalWrap {
        margin-top: 0px;
    }

    .selectBar {
        text-align: center;
    }

    .select {
        float: none !important;
    }
}

@media (max-width: 575px) {
    .searchBar {
        input {
            margin: 8px auto;
        }
    }
    .searchButton {
        width: 140px;
        margin: 0 auto;
    }
}