@import 'themes.less';


.greyBG {
    background-color: @grey !important;
}

.lowesBG {
    background-color: @lowesMed !important;
}

.pad16 {
    padding: 16px
}

.containerStrip {
    padding-top: 12px;
    margin-top : 16px;
}

@media (max-width: 575px) {
    .containerStrip {
        text-align: center;
    }
}

.select-box {
    height: 36px;
    width: 200px;
    float: right;
    font-size: 14px;
    font-size: 1rem;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0 0 0 10px;
  }

@media (max-width: 575px) {
    .select-box {
        float: none;
    }
}

.totalByStars {
    min-width: 530px;
    div {
        min-width: 80px;
    }
}
@media (max-width: 992px) {
    .totalByStars {
        margin-top: 24px;
    }
}

@media (max-width: 768px) {
    .totalByStars {
        min-width: auto;
    }
}

.starStats {
    margin: 8px auto;
    justify-content: center!important;
}