@import 'fonts.less';

.iconFont {
    font-family: 'LowesIcons';
    color: white;
}

.plusSign::after {
    font-family: 'LowesIcons';
    color: white;
    content: "\ED5A";
  }

  .minusSign::after {
    font-family: 'LowesIcons';
    color: white;
    content: "\ED5B";
  }