.stars5::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE2\ECE2\ECE2\ECE2";
  line-height: 16px;
}

.stars4_5::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE2\ECE2\ECE2\ECE1";
  line-height: 16px;
}

.stars4::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE2\ECE2\ECE2\ECE0";
  line-height: 16px;
}

.stars3_5::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE2\ECE2\ECE1\ECE0";
  line-height: 16px;
}

.stars3::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE2\ECE2\ECE0\ECE0";
  line-height: 16px;
}

.stars2_5::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE2\ECE1\ECE0\ECE0";
  line-height: 16px;
}

.stars2::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE2\ECE0\ECE0\ECE0";
  line-height: 16px;
}

.stars1_5::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE1\ECE0\ECE0\ECE0";
  line-height: 16px;
}

.stars1::after {
  font-family: 'theLowesIcons';
  content: "\ECE2\ECE0\ECE0\ECE0\ECE0";
  line-height: 16px;
}
